@import 'variables';

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 100%;
  // background: rgba($dark-grey, 0.03);
}

* {
  @include transition-property(all);
  @include transition-duration(0.2s);
  @include box-sizing(border-box);
}

.wrapper {
  // max-width: 1366px;
  margin: auto;
  margin-bottom: 200px;
  padding-top: 135px;
  position: relative;
  background: #fff;
  z-index: 2;
  // @include box-shadow(0px 0px 20px 0 rgba(0,0,0,0.05));
}

.Header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;

  &.scrolled {
    padding: 15px 50px;
    position: fixed;
    background: #fff;
    @include box-shadow(0px 0px 10px 0 rgba(0,0,0,0.2));
  }

  &:hover {
    & > ul > li > a,
    & > .btn {
      @include opacity(0.3);

      &:hover {
        @include opacity(1);
      }
    }
  }

  & .Brand {
    display: flex;
    align-items: center;
  }

  & > ul {
    & > li {
      float: left;

      & > a {
        color: $black;
        text-decoration: none;
        display: inline-block;
        margin: 11px 21px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $bold;

        &.active {
          color: $primary-color;
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }
}

.dropdownHolder {
  background: $primary-color;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 3;
  display: none;

  &.scrolled {
    position: fixed;
    top: 65px;
  }

  & .container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0 0;

    & .courseCTA {
      border: none;
    }

    // & .cd,
    // & .au {
    //   display: none;
    //
    // }
  }
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 50px 0;
}

.container-fluid {
  padding: 50px;
}

.footer {
  background: $primary-color;
  padding: 50px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .container {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;

    & p {
      color: #ffffff;
      font-size: 12px;
      margin: 0 0 25px;

      &:last-child {
        margin-bottom: 0;
      }

      & .fa-heart {
        color: red;
      }
    }
  }
}

.hide {
  display: none !important;
}

.disable-scroll {
  overflow: hidden;
}

.sidebar {
  background: $primary-color;
  position: fixed;
  right: -1000px;
  top: 55px;
  padding-top: 15px;
  bottom: 0;
  color: #ffffff;
  z-index: 9;
  overflow: auto;

  &.active {
    right: 0;
  }

  & .fa-close {
    padding: 30px;
    float: right;
  }

  & > ul {
    & > li {
      & > span,
      & > a {
        padding: 20px 30px;
        display: inline-block;
        width: 100%;
      }
      & > span {
        text-transform: uppercase;
        @include opacity(0.5);
        padding-bottom: 0;
        font-weight: $bold;
        font-size: 12px;
      }
      & > a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.readable {
  & > .container {
    max-width: 650px;

    & .heading {
      text-align: center;
    }

    & h1 {
      font: {
        size: 126px;
        weight: $bolder;
      }
      line-height: 140px;
      color: $primary-color;
      margin: 30px 0 85px;
    }

    & p {
      color: $black;
      font-size: 18px;
      line-height: 30px;
      margin: 0 0 45px;
    }

    & h3 {
      font: {
        size: 26px;
        weight: $bold;
      }
      line-height: 30px;
      color: $black;
      margin: 0 0 15px;
    }

    & ul {
      margin: 0 0 45px;

      & li {
        color: $black;
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 15px;
        padding: 0 0 0 30px;
        position: relative;

        &:before {
          content: '';
          @include border-radius(50%);
          display: inline-block;
          width: 7px;
          height: 7px;
          background: $primary-color;
          position: absolute;
          left: 10px;
          top: 12px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .Header {
    & > ul,
    & > .btn {
      display: none;
    }
    .hide {
      display: inline-block !important;
    }
  }
}
@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}
