/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/partials/_components.scss */
.im-checkout > a {
  background: #845af7;
  color: white;
  text-align: center;
  justify-content: center;
}
/* line 9, ../../sass/partials/_components.scss */
.im-checkout > a:hover {
  background: #5d39bf;
}
/* line 12, ../../sass/partials/_components.scss */
.im-checkout > a:active {
  background: #5d39bf;
}

/* line 17, ../../sass/partials/_components.scss */
.btn,
.im-checkout > a {
  height: 55px;
  font-size: 14px;
  font-weight: 600;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 0 30px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 32, ../../sass/partials/_components.scss */
.btn.btn-primary,
.im-checkout > a.btn-primary {
  background: #845af7;
  color: white;
}
/* line 36, ../../sass/partials/_components.scss */
.btn.btn-primary:hover,
.im-checkout > a.btn-primary:hover {
  background: #5d39bf;
}
/* line 39, ../../sass/partials/_components.scss */
.btn.btn-primary:active,
.im-checkout > a.btn-primary:active {
  background: #5d39bf;
}
/* line 44, ../../sass/partials/_components.scss */
.btn:hover,
.im-checkout > a:hover {
  -moz-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
}
/* line 47, ../../sass/partials/_components.scss */
.btn:active,
.im-checkout > a:active {
  -moz-box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 51, ../../sass/partials/_components.scss */
.btn .fa,
.im-checkout > a .fa {
  margin-left: 5px;
}
/* line 55, ../../sass/partials/_components.scss */
.btn.btn-block,
.im-checkout > a.btn-block {
  width: 100%;
}
/* line 59, ../../sass/partials/_components.scss */
.btn.btn-small,
.im-checkout > a.btn-small {
  height: 35px;
  padding: 0 20px;
  font-size: 12px;
}

/* line 66, ../../sass/partials/_components.scss */
.courseCTA,
.pill {
  cursor: pointer;
}
/* line 70, ../../sass/partials/_components.scss */
.courseCTA:hover,
.pill:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA1MzA1NCIgeTE9IjAuMDY3OTA3IiB4Mj0iMS4wNTMwNTQiIHkyPSIwLjkzMjA5MyI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2ZjZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYjg1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(322deg, #ff7fcd 0%, #ffb855 100%);
  background-image: -webkit-linear-gradient(322deg, #ff7fcd 0%, #ffb855 100%);
  background-image: linear-gradient(-232deg, #ff7fcd 0%, #ffb855 100%);
  -moz-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
}
/* line 74, ../../sass/partials/_components.scss */
.courseCTA:hover p,
.pill:hover p {
  color: #ffffff;
}

/* line 80, ../../sass/partials/_components.scss */
.courseCTA,
.pill,
.pill-nohover {
  background: #ffffff;
  border: 1px solid #eaeef0;
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 200px;
  padding: 30px;
  height: 250px;
  margin: 0 15px 30px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
/* line 99, ../../sass/partials/_components.scss */
.courseCTA img,
.pill img,
.pill-nohover img {
  max-width: 100px;
  margin: 0 0 15px;
}
/* line 103, ../../sass/partials/_components.scss */
.courseCTA p,
.pill p,
.pill-nohover p {
  font-size: 18px;
  line-height: 24px;
  color: #615f69;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/* line 112, ../../sass/partials/_components.scss */
.menu {
  border: none;
  font-size: 18px;
  outline: none;
  background: #fff;
  padding: 25px 32px;
  margin: -25px -25px -25px 0;
}
/* line 120, ../../sass/partials/_components.scss */
.menu:active {
  -moz-box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

/* line 3, ../../sass/partials/_layout.scss */
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 100%;
}

/* line 11, ../../sass/partials/_layout.scss */
* {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../../sass/partials/_layout.scss */
.wrapper {
  margin: auto;
  margin-bottom: 200px;
  padding-top: 135px;
  position: relative;
  background: #fff;
  z-index: 2;
}

/* line 28, ../../sass/partials/_layout.scss */
.Header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  overflow: hidden;
}
/* line 40, ../../sass/partials/_layout.scss */
.Header.scrolled {
  padding: 15px 50px;
  position: fixed;
  background: #fff;
  -moz-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}
/* line 48, ../../sass/partials/_layout.scss */
.Header:hover > ul > li > a, .Header:hover > .btn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 52, ../../sass/partials/_layout.scss */
.Header:hover > ul > li > a:hover, .Header:hover > .btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 58, ../../sass/partials/_layout.scss */
.Header .Brand {
  display: flex;
  align-items: center;
}
/* line 64, ../../sass/partials/_layout.scss */
.Header > ul > li {
  float: left;
}
/* line 67, ../../sass/partials/_layout.scss */
.Header > ul > li > a {
  color: #211842;
  text-decoration: none;
  display: inline-block;
  margin: 11px 21px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
/* line 76, ../../sass/partials/_layout.scss */
.Header > ul > li > a.active {
  color: #845af7;
  border-bottom: 2px solid #845af7;
}

/* line 85, ../../sass/partials/_layout.scss */
.dropdownHolder {
  background: #845af7;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 3;
  display: none;
}
/* line 95, ../../sass/partials/_layout.scss */
.dropdownHolder.scrolled {
  position: fixed;
  top: 65px;
}
/* line 100, ../../sass/partials/_layout.scss */
.dropdownHolder .container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px 0 0;
}
/* line 106, ../../sass/partials/_layout.scss */
.dropdownHolder .container .courseCTA {
  border: none;
}

/* line 118, ../../sass/partials/_layout.scss */
.container {
  max-width: 960px;
  margin: auto;
  padding: 50px 0;
}

/* line 124, ../../sass/partials/_layout.scss */
.container-fluid {
  padding: 50px;
}

/* line 128, ../../sass/partials/_layout.scss */
.footer {
  background: #845af7;
  padding: 50px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 136, ../../sass/partials/_layout.scss */
.footer .container {
  display: flex;
  padding: 25px 0;
  justify-content: space-between;
}
/* line 141, ../../sass/partials/_layout.scss */
.footer .container p {
  color: #ffffff;
  font-size: 12px;
  margin: 0 0 25px;
}
/* line 146, ../../sass/partials/_layout.scss */
.footer .container p:last-child {
  margin-bottom: 0;
}
/* line 150, ../../sass/partials/_layout.scss */
.footer .container p .fa-heart {
  color: red;
}

/* line 157, ../../sass/partials/_layout.scss */
.hide {
  display: none !important;
}

/* line 161, ../../sass/partials/_layout.scss */
.disable-scroll {
  overflow: hidden;
}

/* line 165, ../../sass/partials/_layout.scss */
.sidebar {
  background: #845af7;
  position: fixed;
  right: -1000px;
  top: 55px;
  padding-top: 15px;
  bottom: 0;
  color: #ffffff;
  z-index: 9;
  overflow: auto;
}
/* line 176, ../../sass/partials/_layout.scss */
.sidebar.active {
  right: 0;
}
/* line 180, ../../sass/partials/_layout.scss */
.sidebar .fa-close {
  padding: 30px;
  float: right;
}
/* line 187, ../../sass/partials/_layout.scss */
.sidebar > ul > li > span, .sidebar > ul > li > a {
  padding: 20px 30px;
  display: inline-block;
  width: 100%;
}
/* line 193, ../../sass/partials/_layout.scss */
.sidebar > ul > li > span {
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 12px;
}
/* line 200, ../../sass/partials/_layout.scss */
.sidebar > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

/* line 209, ../../sass/partials/_layout.scss */
.readable > .container {
  max-width: 650px;
}
/* line 212, ../../sass/partials/_layout.scss */
.readable > .container .heading {
  text-align: center;
}
/* line 216, ../../sass/partials/_layout.scss */
.readable > .container h1 {
  font-size: 126px;
  font-weight: 800;
  line-height: 140px;
  color: #845af7;
  margin: 30px 0 85px;
}
/* line 226, ../../sass/partials/_layout.scss */
.readable > .container p {
  color: #211842;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 45px;
}
/* line 233, ../../sass/partials/_layout.scss */
.readable > .container h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #211842;
  margin: 0 0 15px;
}
/* line 243, ../../sass/partials/_layout.scss */
.readable > .container ul {
  margin: 0 0 45px;
}
/* line 246, ../../sass/partials/_layout.scss */
.readable > .container ul li {
  color: #211842;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 15px;
  padding: 0 0 0 30px;
  position: relative;
}
/* line 254, ../../sass/partials/_layout.scss */
.readable > .container ul li:before {
  content: '';
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #845af7;
  position: absolute;
  left: 10px;
  top: 12px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* line 283, ../../sass/partials/_layout.scss */
  .Header > ul, .Header > .btn {
    display: none;
  }
  /* line 287, ../../sass/partials/_layout.scss */
  .Header .hide {
    display: inline-block !important;
  }
}
@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}
/* line 3, ../../sass/partials/_home.scss */
.homepage {
  font-size: 16px;
}
/* line 6, ../../sass/partials/_home.scss */
.homepage .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
/* line 12, ../../sass/partials/_home.scss */
.homepage .container > .logo-icon {
  margin-bottom: 15px;
}
/* line 16, ../../sass/partials/_home.scss */
.homepage .container .courses {
  display: none;
}
/* line 20, ../../sass/partials/_home.scss */
.homepage .container .scrollIndi {
  margin: 20px 0 0;
}
/* line 23, ../../sass/partials/_home.scss */
.homepage .container .scrollIndi > .verLine {
  background: rgba(33, 24, 66, 0.15);
  width: 2px;
  height: 50px;
  display: inline-block;
}
/* line 30, ../../sass/partials/_home.scss */
.homepage .container .scrollIndi > .text {
  font-size: 14px;
  color: #615f69;
  display: inline-block;
  width: 100%;
  margin: 30px 0 0;
}
/* line 40, ../../sass/partials/_home.scss */
.homepage .courseCTA {
  float: left;
}
/* line 44, ../../sass/partials/_home.scss */
.homepage h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: #211842;
  margin-bottom: 25px;
}
/* line 51, ../../sass/partials/_home.scss */
.homepage h1 + p {
  color: #615f69;
  margin-bottom: 50px;
}
/* line 55, ../../sass/partials/_home.scss */
.homepage h1 + p > .blueHigh, .homepage h1 + p > .yellowHigh {
  position: relative;
}
/* line 59, ../../sass/partials/_home.scss */
.homepage h1 + p > .blueHigh:after, .homepage h1 + p > .yellowHigh:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 7px;
}
/* line 69, ../../sass/partials/_home.scss */
.homepage h1 + p > .blueHigh:after {
  background: rgba(64, 220, 255, 0.35);
}
/* line 72, ../../sass/partials/_home.scss */
.homepage h1 + p > .yellowHigh:after {
  background: rgba(255, 202, 0, 0.35);
}
/* line 76, ../../sass/partials/_home.scss */
.homepage h1 + p + .btn-primary {
  margin-bottom: 30px;
}
/* line 82, ../../sass/partials/_home.scss */
.homepage .ds-promise {
  margin-top: 50px;
  background: #845af7;
  color: #ffffff;
  padding: 50px 0;
}
/* line 88, ../../sass/partials/_home.scss */
.homepage .ds-promise > .container {
  padding-bottom: 0;
}
/* line 92, ../../sass/partials/_home.scss */
.homepage .ds-promise .small-title {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 15px;
}
/* line 98, ../../sass/partials/_home.scss */
.homepage .ds-promise h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 41px;
  margin-bottom: 50px;
}
/* line 105, ../../sass/partials/_home.scss */
.homepage .ds-promise ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 109, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li {
  color: #ffffff;
  font-size: 14px;
  padding: 0 25px 50px;
  position: relative;
  min-width: 150px;
  flex: 1;
}
/* line 117, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:before {
  content: '';
  width: 60px;
  height: 50px;
  background: url("../images/home_sprite.svg") no-repeat 0 0;
  background-size: 60px;
  margin: 0 auto 20px;
  display: block;
}
/* line 127, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:nth-child(1):before {
  background-position: 0 0;
}
/* line 130, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:nth-child(2):before {
  background-position: 0 -50px;
}
/* line 133, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:nth-child(3):before {
  background-position: 0 -100px;
}
/* line 136, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:nth-child(4):before {
  background-position: 0 -150px;
}
/* line 139, ../../sass/partials/_home.scss */
.homepage .ds-promise ul > li:nth-child(5):before {
  background-position: 0 -200px;
}
/* line 146, ../../sass/partials/_home.scss */
.homepage .faq {
  padding: 50px 0;
}
/* line 149, ../../sass/partials/_home.scss */
.homepage .faq h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 58px;
  margin: 0 0 50px;
}
/* line 156, ../../sass/partials/_home.scss */
.homepage .faq .question {
  height: 215px;
  width: 750px;
  max-width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}
/* line 164, ../../sass/partials/_home.scss */
.homepage .faq .question:hover {
  background: rgba(97, 95, 105, 0.05);
}
/* line 167, ../../sass/partials/_home.scss */
.homepage .faq .question:hover .signifier {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 172, ../../sass/partials/_home.scss */
.homepage .faq .question > span {
  padding: 71px;
  position: relative;
}
/* line 176, ../../sass/partials/_home.scss */
.homepage .faq .question > span .num {
  font-family: 'DSNum';
  color: #845af7;
  font-size: 73px;
  letter-spacing: -25px;
}
/* line 182, ../../sass/partials/_home.scss */
.homepage .faq .question > span .signifier {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 191, ../../sass/partials/_home.scss */
.homepage .faq .question > p {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  padding: 71px;
}

/* line 202, ../../sass/partials/_home.scss */
img {
  max-width: 100%;
}

@font-face {
  font-family: 'DSNum';
  src: url("../fonts/DSNum.otf");
}
/* line 4, ../../sass/partials/_course.scss */
.course-details > .container {
  max-width: 520px;
}
/* line 7, ../../sass/partials/_course.scss */
.course-details > .container .heading {
  text-align: center;
}
/* line 11, ../../sass/partials/_course.scss */
.course-details > .container h1 {
  font-size: 126px;
  font-weight: 800;
  line-height: 140px;
  color: #845af7;
  margin: 30px 0 85px;
}
/* line 21, ../../sass/partials/_course.scss */
.course-details > .container h3 {
  color: #845af7;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 35px;
}
/* line 27, ../../sass/partials/_course.scss */
.course-details > .container h3:after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  margin: 10px 0;
  background: #845af7;
}
/* line 37, ../../sass/partials/_course.scss */
.course-details > .container p {
  color: #211842;
  font-size: 18px;
  line-height: 35px;
  margin: 0 0 45px;
}
/* line 45, ../../sass/partials/_course.scss */
.course-details > .container dl dt {
  float: left;
  width: 100px;
  text-align: right;
  color: #a6a6ac;
  line-height: 35px;
}
/* line 52, ../../sass/partials/_course.scss */
.course-details > .container dl dd {
  margin-left: 135px;
  margin-bottom: 45px;
}
/* line 56, ../../sass/partials/_course.scss */
.course-details > .container dl dd h5 {
  color: #a6a6ac;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 15px;
}
/* line 65, ../../sass/partials/_course.scss */
.course-details > .container dl dd ul li {
  color: #615f69;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 74, ../../sass/partials/_course.scss */
.course-details > .container .section {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
}
/* line 79, ../../sass/partials/_course.scss */
.course-details > .container .section.first-child {
  margin-top: 40px;
}
/* line 84, ../../sass/partials/_course.scss */
.course-details > .container .pill-nohover.co {
  height: 260px;
  float: left;
  margin-bottom: 45px;
}
/* line 89, ../../sass/partials/_course.scss */
.course-details > .container .pill-nohover.co > h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #615f69;
  margin: 0 0 30px;
}
/* line 96, ../../sass/partials/_course.scss */
.course-details > .container .pill-nohover.co > div {
  margin: 0 0 30px;
  line-height: 21px;
}
/* line 100, ../../sass/partials/_course.scss */
.course-details > .container .pill-nohover.co > div > span {
  display: inline-block;
  width: 100%;
}
/* line 105, ../../sass/partials/_course.scss */
.course-details > .container .pill-nohover.co > .help-text {
  font-size: 12px;
  line-height: 15px;
}
/* line 111, ../../sass/partials/_course.scss */
.course-details > .container .help-text {
  color: #a6a6ac;
}
/* line 116, ../../sass/partials/_course.scss */
.course-details > .container .price-wrapper > span {
  display: inline-block;
  width: 100%;
}
/* line 120, ../../sass/partials/_course.scss */
.course-details > .container .price-wrapper > span.actuall-price {
  color: #615f69;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 0 15px;
  text-decoration: line-through;
}
/* line 128, ../../sass/partials/_course.scss */
.course-details > .container .price-wrapper > span.tag {
  color: #a6a6ac;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #a6a6ac;
  padding: 3px;
  width: auto;
}
/* line 136, ../../sass/partials/_course.scss */
.course-details > .container .price-wrapper > span.price {
  color: #211842;
  font-size: 42px;
  font-weight: 800;
  line-height: 50px;
}
/* line 144, ../../sass/partials/_course.scss */
.course-details > .container .price-wrapper .im-checkout > a {
  margin: 30px 0;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /* line 9, ../../sass/partials/_responsive.scss */
  .course-details > .container .heading img {
    display: none;
  }
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* line 21, ../../sass/partials/_responsive.scss */
  .wrapper {
    padding-top: 50px;
  }

  /* line 25, ../../sass/partials/_responsive.scss */
  .Header {
    padding: 15px !important;
  }

  /* line 29, ../../sass/partials/_responsive.scss */
  .course-details > .container,
  .readable > .container {
    padding: 30px;
  }
  /* line 34, ../../sass/partials/_responsive.scss */
  .course-details > .container .heading h1,
  .readable > .container .heading h1 {
    font-size: 30px;
    line-height: 32px;
  }

  /* line 42, ../../sass/partials/_responsive.scss */
  .homepage .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 46, ../../sass/partials/_responsive.scss */
  .homepage .container .scrollIndi {
    margin: 0;
  }
  /* line 50, ../../sass/partials/_responsive.scss */
  .homepage .container .btn-primary {
    width: 100%;
    justify-content: center;
  }
  /* line 56, ../../sass/partials/_responsive.scss */
  .homepage .container .courses .courseCTA {
    width: 47%;
    margin: 0 0 30px;
    height: 215px;
  }
  /* line 61, ../../sass/partials/_responsive.scss */
  .homepage .container .courses .courseCTA:last-child {
    margin-left: 15px;
  }
  /* line 65, ../../sass/partials/_responsive.scss */
  .homepage .container .courses .courseCTA img {
    max-width: 100%;
  }
  /* line 72, ../../sass/partials/_responsive.scss */
  .homepage h1 {
    font-size: 30px;
    line-height: 32px;
  }
  /* line 76, ../../sass/partials/_responsive.scss */
  .homepage .ds-promise h2 {
    font-size: 26px;
    line-height: 30px;
  }
  /* line 81, ../../sass/partials/_responsive.scss */
  .homepage .faq .question {
    display: inline-block;
    height: auto;
  }
  /* line 85, ../../sass/partials/_responsive.scss */
  .homepage .faq .question > span, .homepage .faq .question > p {
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  /* line 92, ../../sass/partials/_responsive.scss */
  .homepage .faq .question > span {
    padding: 50px 0 0 0;
  }
  /* line 95, ../../sass/partials/_responsive.scss */
  .homepage .faq .question > p {
    padding: 30px 0 50px;
  }

  /* line 101, ../../sass/partials/_responsive.scss */
  .footer .container {
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0;
  }
  /* line 106, ../../sass/partials/_responsive.scss */
  .footer .container > p {
    padding-bottom: 30px;
  }
}
@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}
